---
import { Content as Policy } from "@/assets/privacy/startify.md";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Startify Privacy Police" favicon="startify">
  <article>
    <div class="mx-auto my-10 h-full max-w-[750px] px-5 text-white">
      <Policy />
    </div>
  </article>
</BaseLayout>
