---
import { Icon } from "astro-icon/components";

import { Button } from "@/components/Button";

interface Props {
  chromeStoreUrl: string;
  firefoxStoreUrl: string;
}

const { chromeStoreUrl, firefoxStoreUrl } = Astro.props;
---

<div class="flex flex-col items-center justify-center gap-5 pt-14 md:flex-row">
  <a href={chromeStoreUrl}>
    <Button
      client:load
      borderClassName="bg-[radial-gradient(#1aa260_40%,transparent_60%)]"
      borderRadius="1.75rem"
      className="border-slate-800 bg-slate-900 text-white"
    >
      <div class="flex flex-row items-center justify-center gap-3">
        <p>Add to Chrome</p>
        <Icon name="mdi:google-chrome" height="1.5rem" width="1.5rem" />
      </div>
    </Button>
  </a>

  <a href={firefoxStoreUrl}>
    <Button
      client:load
      borderRadius="1.75rem"
      borderClassName="bg-[radial-gradient(#FF9500_40%,transparent_60%)]"
      className="border-slate-800 bg-slate-900 text-white"
    >
      <div class="flex flex-row items-center justify-center gap-3">
        <p>Add to Firefox</p>
        <Icon name="mdi:firefox" height="1.5rem" width="1.5rem" />
      </div>
    </Button>
  </a>
</div>
