---
import type { NavItem } from "@/types";
import { PinContainer } from "./PinCard";
interface Props {
  items: Array<NavItem>;
}
const { items } = Astro.props;
---

<div class="no-scrollbar flex h-[26rem] flex-row gap-5 overflow-x-scroll px-16">
  {
    items &&
      items.map(({ title, url, description }) => (
        <div class="flex items-center justify-center">
          <PinContainer client:load title="Startify" href={url}>
            <div class="flex h-[20rem] w-[20rem] basis-full flex-col p-4 tracking-tight text-slate-100/50 sm:basis-1/2">
              <h3 class="!m-0 max-w-xs !pb-2 text-base font-bold text-default">
                {title}
              </h3>
              {description && (
                <div class="!m-0 !p-0 text-base font-normal">
                  <span class="text-default">{description}</span>
                </div>
              )}
              <div class="mt-4 flex w-full flex-1 rounded-lg bg-gradient-to-br from-violet-500 via-purple-500 to-blue-500" />
            </div>
          </PinContainer>
        </div>
      ))
  }
</div>
